.label {
  width: 100%;
  text-align: center;
  margin-left: -8px;
}

.node-container.selected .shape-node {
  stroke: red;
  stroke-width: 3;
  border: 1px solid red;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}
.customHandle {
  visibility: hidden;
}
.source-visible {
  visibility: visible;
}
